<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">GiganticEMU</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/leaderboard">Leaderboard</a>
      <a class="nav-item nav-link" href="/matchHistory">Match history</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto ">
    <div class="navbar-nav">
    <% if user_signed_in? %>
      <%#= link_to "Account", account_path ,class: "nav-item nav-link" %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: "nav-item nav-link" %>
      <%= link_to "Login", new_user_session_path, class: "nav-item nav-link" %>
    <% end %>
    </div>
  </div>
</nav>
